<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title> Vizualize nossos carros</title>
</head>
	<body>
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  			<a class="navbar-brand" href="/">Concessionaria</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  			</button>
	  		<div class="collapse navbar-collapse" id="navbarNav">
	    		<ul class="navbar-nav">
	      			<li class="nav-item">
	        			<a class="nav-link" href="/cadastro">Cadastrar carros</a>
	      			</li>
	      			<li class="nav-item">
	        			<a class="nav-link" href="/exibir">Exibir carros</a>
	      			</li>
	    		</ul>
	  		</div>
		</nav>
	
		<div class="text-center mt-5" >
			<h1>Vizualize nossos carros</h1>
		</div>
		
		<div class="container mt-5">
			<table class="table">
				<thead>
					<tr>
						<th> Código </th>
						<th> Modelo </th>
						<th> Ano </th>
						<th> Cor </th>
						<th> Editar </th>
						<th> Deletar </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="carros: ${carro}">
						<td> <span th:text="${carros.cod}"></span> </td>
						<td> <span th:text="${carros.modelo}"></span> </td>
						<td> <span th:text="${carros.ano}"></span> </td>
						<td> <span th:text="${carros.cor}"></span> </td>
						<td> <a th:href="@{/editar/{cod} (cod=${carros.cod})}" class="btn btn-primary" > editar</a> </td>
						<td> <a th:href="${(#mvc.url('CGC#deletar').arg(0, carros.cod)).build()}" class="btn btn-danger "> deletar </a> </td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
		
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>